html {
	text-align: center;
	color:#888;
	font-family: "arial";
	background-color: black;
}
body {
	margin-bottom: 5em;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.album-cover {		
	width:100%;
	@media (orientation: landscape) {
    	max-width:700px
	}
	@media (orientation: portrait) {
	    max-width:1080px;
	}	
}
.links {	
	a {
		color: #fc0;	
		padding:0 0.5rem;
		text-decoration:none;		
		font-size:1.5rem;
	}
	a:hover {
		color:#ADBFC1;
	}
	padding-top:2rem;
	padding-bottom:2rem;
}
